apispec-webframeworks
apispec[yaml]
flask
flask-jwt-extended
flask-marshmallow
flask-migrate
flask-restful
flask-sqlalchemy
gunicorn
marshmallow-sqlalchemy
marshmallow>=3
passlib
psycopg2-binary==2.8.4
python-dotenv
